@model BugTrackerWebApp.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketId" class="control-label"><b>Ticket Name: </b>@TempData["ticketName"]</label>
                <input hidden readonly asp-for="TicketId" class="form-control" value = "@TempData["ticketId"]"/>
                <span asp-validation-for="TicketId" class="text-danger"></span>
            </div>
            <div class="form-group" style="min-width:900px">
                <label asp-for="Message" class="control-label"><b>Message</b></label>
                <textarea asp-for="Message" class="form-control" style="height: 200px"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
