@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Click on different tabs of the website. Such as projects to create a new project, add tickets, comments, upload files and invite other users to collaborate!</p>
