@{
    ViewData["Title"] = "Try any role to demo";
}

<div class="text-center">
    <h2 class="display-4">Admin</h2>
    <h2 class="display-4">Project Manager</h2>
    <h2 class="display-4">Developer</h2>
    <h2 class="display-4">Submitter</h2>
</div>
