@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the Bug Tracker Web Application. Click on different tabs of the website. Such as projects to create a new project.</p>
    <p>This website is based on the concept of a ticketing management system for managing a group project. </p>
</div>
