@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Click on different tabs of the website. Such as projects to create a new project.</p>
<p>This website is based on the concept of a ticketing management system for managing projects. </p>
