@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website collects name, email and phone number of the user. This information is collected as part of the creation and maintenance a user 
    account. The data is collected by web forms. The data is not seen by anyone but the user to maintain their account.
    Users with questions may contact the Developer's email address in the footer. When Users create projects and tickets, the administrator is able to access
    and maintain projects and ticket information.
</p>
