@model BugTrackerWebApp.Models.UserProject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User_Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Id" class="control-label">UserName</label>
                <br />
                @Html.DropDownListFor(m => m.UserId,
                (SelectList)ViewBag.Users, "Select a Username"
                )
            </div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label">Project Name</label>
                <br />
                @Html.DropDownListFor(m => m.ProjectId, 
                (SelectList)ViewBag.Projects, "Select a Project")
            </div>
            <p style="color:red">@Html.Raw(ViewBag.ErrorMessage)</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
