@model BugTrackerWebApp.Models.User_Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User_Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                 <label asp-for="UserName" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.UserId, 
                    (SelectList)ViewBag.Users, "Select a UserName"
                )
                @*<input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Project Name</label>
                <br />
                @Html.DropDownListFor(m => m.ProjectId, 
                    (SelectList)ViewBag.Projects, "Select a Project"
                )
                @*<input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
